*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    top: 0;
    font-family: Helvetica, Arial,  sans-serif;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 0 5px;
    width: 1024px;
    font-size: 1.2em;
    /* grid-template-rows: 100px; */
    grid-template-areas: 
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell"
    ;
}
header{
    position: relative;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
    padding: 0 5px;
    height: 100px;
    background-image: url('../images/header.png');
}
.header-img-1{
    height: 100px;
    position: absolute;
    top: -30px;
    animation: header-img-1 ease-in-out 3s forwards;
}
.header-img-2{
    height: 70px;
    position: absolute;
    top: -5px;
    animation: header-img-2 ease-in-out 3s forwards;
}
.header-img-3{
    height: 80px;
    position: absolute;
    top: 0;
    animation: header-img-3 ease-in-out 3s forwards;
}
header nav{
    margin-top: 24px;
}
header nav a{
    position: relative;
    top: 0;
    margin: 3px;
    border: 1px solid #fff;
    padding: 2px 4px;
    height: 20px;
    text-align: center;
    color: #ed4190;
    font-size: 17px;
    background-color: #ffffff80;
    text-decoration: none;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}
header nav a:hover{
    color: #fff;
    background-color: #ed4190;
    cursor: pointer;
}
.header-search{
    float: right;
    /* padding-top: 3px; */
}
.header-search-input{
    height: 24px;
    outline: none;
    padding: 2px 4px;
}
.header-btn{
    padding: 4px;
    min-width: 30px;
    height: 24px;
    text-align: center;
    color: #fff;
    background-color: #cddc39;
    border: none;
}
.header-btn:hover{
    background-color: #c5d436;
    cursor: pointer;
}
.cart-icon{
    color: #ed4190;
}
main{
    position: relative;
    display: grid;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #fff;
    grid-template-areas: 
    "left-cell"
    "article-cell"
    "right-cell";
}
main img{
    border-radius: 5px;
}
main article h1{
    margin: 12px 0 16px;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    color: #F90B6D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 34px;
}
main article h1::after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    margin: 12px 0 16px;
    width: 200px;
    height: 3px;
    z-index: 10;
    transform:rotateX(-12deg);
    transform:translateX(-50%);
    background-image: radial-gradient(#cddc39, #fff);
}
main article h2{
    margin: 5px 0 10px;
    text-align: center;
    font-size: 24px;
    color: #F90B6D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 28px;
}
main article h3{
    margin: 5px 0 10px;
    text-align: center;
    font-size: 20px;
    color: #F90B6D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
}
.ord-table{
    border-collapse: collapse;
    width: 100%;
}
.ord-table,
.ord-table th,
.ord-table td{
    border: 1px solid black;
}
.ord-table th{
    padding: 8px 0;
}
.ord-table tfoot td{
    text-align: right;
    padding: 4px 8px;
}
.h-prod-img{
    width: 18%;
}
.h-prod-name{
    width: 35%;
}
.h-prod-quant{
    width: 12%;
}
.h-prod-price{
    width: 12%;
}
.h-prod-total{
    width: 15%;
}
.d-prod-img img{
    width: 100%;
    height: 128px;
    object-fit: contain;
}
.d-prod-name{
}
.d-prod-quant,
.d-prod-price,
.d-prod-total{
    text-align: right;
}
.d-prod-quant{

}
.d-prod-price{

}
.d-prod-total{
    
}
.d-prod-del{
    text-align: center;
}
.d-prod-del-btn{
    padding: 4px 12px;
    outline: none;
    border: none;
    color: #f90b6e;
    background-color: #cddc39;
    font-size: 16px;
    cursor: pointer;
}
.ord-table tfoot .confirmation{
    text-align: center;
    position: relative;
}
.ord-table tfoot .total{
    font-weight: bold;
    color:#f90b6e ;
}
#confirm-btn{
    margin: 8px 0;
    padding: 8px;
    color: white;
    background-color: #f90b6e;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}
#confirm-btn:hover{
    background-color: #f34b91;
}
#print-btn{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 8px;
    color: white;
    background-color: rgb(20, 53, 195);;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}
footer{
    height: 50px;
    line-height: 50px;
    position: relative;
    margin-top: 2px;
    border: 1px solid #ccc7c8;
    border-radius: 5px;
    padding: 0 5px;
    text-align: justify;
    color: #000;
}
footer p{
    text-align: center;
}
footer a{
    color: #ed4190;
    text-decoration: none;
}
.btt-logo{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 15px;
    padding: 10px;
    background-image:url('../images/top.png');
    background-size: cover;
    z-index: 100;
}
@keyframes header-img-1 {
    from{
        left: 80%;
    }
    to{
        left: 30%;
    }
}
@keyframes header-img-2 {
    from{
        left: 80%;
    }
    to{
        left: 45%;
    }
}
@keyframes header-img-3 {
    from{
        left: 80%;
    }
    to{
        left: 63%;
    }
}